*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    background-color: rgb(14, 14, 14);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

    
}
.corpo
{
    width: 30%;
    height: 10em;
    background-color: rgb(14,14,14);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.caixa
{
    animation: teste 1s forwards;
}

@keyframes teste
{
  0%{transform:translateX(-100vh);opacity: 0;}
  50%{transform:translateX(-27vh);opacity:1}
  100%{transform: translateX(-30vh);opacity: 1;}
}

.nome_logo
{
    margin-top: 2.5%;
    animation: acender 1s forwards;
}

@keyframes acender
{
    0% {transform:translateX(100vh);opacity: 0;}
    50%{transform:translateX(27vh);opacity:1}
    100% {transform: translateX(29vh);opacity: 1;}
   
}

.entrar
{
    height: 40px;
    width: 70px;
    background-color: #E6852B;
    color: rgb(14, 14, 14) ;
    border: none;
    border-radius: 15px;
    animation: aparecer 3s forwards;
    font-family: Arial, Helvetica, sans-serif;

}

@keyframes aparecer
{
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

